#single-item,
#cart-list {
  margin-top: 5%;
  margin-left: -10%;
}
#item-pic {
  width: 30%;
  height: 40%;
  margin-right: 18%;
}
#image {
  padding-top: 10%;
  padding-left: 30%;
  padding-bottom: 10%;
  width: auto;
  height: 380px;
}
#item-pic,
#item-desc {
  display: inline-block;
}
#item-desc {
  box-shadow: 0 4px 8px 0 #757575;
  margin-left: 6%;
  padding-right: 3%;
  position: absolute;
  margin-bottom: 3%;
  margin-right: 3%;
}
#description {
  padding-left: 5%;
  padding-bottom: 10%;
  padding-right: 10%;
  width: fit-content;
}
table {
  margin-top: 8%;
  margin-left: 5%;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  font-size: 20px;
  text-align: left;
  padding: 8px;
}
#buttons {
  margin-left: 10%;
  padding-bottom: 7.5%;
  margin-right: 10%;
}
#buttons input {
  margin-bottom: 3%;
  width: 35%;
  font-size: 20px;
}

@media screen and (min-width: 995px) {
  .cart-item {
    box-shadow: 0 4px 8px 0 #757575;
    margin-left: 6%;
    padding-right: 3%;
    margin-bottom: 3%;
    margin-right: 3%;
  }
  #check-out {
    box-shadow: 0 4px 8px 0 #757575;
    margin-left: -3%;
    margin-bottom: 3%;
    margin-right: 3%;
    display: block;
    width: inherit;
  }
  #buy,
  #go-back {
    width: fit-content;
    margin-bottom: 5%;
  }
  #go-back {
    margin-top: 6%;
    margin-left: 12%;
  }
  #buy {
    margin-top: 8%;
    margin-left: 18%;
  }
  #cart-table {
    font-size: 16px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  #cart-table td {
    text-align: left;
    padding: 8px;
  }
  .pad-btn {
    padding-top: 25%;
    margin-top: 25%;
    padding-bottom: 5%;
  }
  #pay,
  th {
    padding-left: 10%;
    padding-top: 2%;
  }
  #cart-list {
    margin-top: 5%;
  }
  #cartImage {
    height: 225px;
    width: 185px;
  }
  .cart-image {
    padding: 7%;
    padding-left: 15%;
  }
  .cart-desc {
    margin-left: 5%;
    margin-top: 3%;
  }

  #remove {
    position: absolute;
    margin-top: 7%;
    margin-left: 2%;
    width: 20%;
  }
  .qty {
    width: 25%;
    margin-left: 10%;
  }
  .cart-image,
  .cart-desc {
    display: inline-block;
  }
}
@media screen and (max-width: 994px) {
  .cart-item {
    box-shadow: 0 4px 8px 0 #757575;
    height: fit-content;
    margin-left: 5%;
  }
  #check-out {
    box-shadow: 0 4px 8px 0 #757575;
    margin-left: -3%;
    margin-bottom: 3%;
    margin-right: 3%;
    display: block;
    width: inherit;
  }
  #buy,
  #go-back {
    width: fit-content;
    margin-bottom: 5%;
  }
  #go-back {
    margin-top: 6%;
    margin-left: 12%;
  }
  #buy {
    margin-top: 8%;
    margin-left: 18%;
  }
  .pad-btn {
    padding-top: 25%;
    margin-top: 25%;
    padding-bottom: 5%;
  }
  #pay,
  th {
    padding-left: 10%;
    padding-top: 2%;
  }
  #cart-list {
    width: fit-content;
    height: 45%;
    margin-bottom: 5%;
  }
  #cartImage {
    height: 25%;
    width: 25%;
  }
  .cart-image {
    padding: 7%;
    margin-left: 35%;
  }
  .cart-desc {
    margin-left: 15%;
    margin-top: 3%;
    margin-bottom: 20%;
  }

  #remove {
    position: absolute;
    margin-top: 3%;
    margin-left: 5%;
    width: 20%;
  }
  .qty {
    width: 25%;
    margin-left: 15%;
  }
  .cart-image,
  .cart-desc {
    display: block;
  }
}
