body,
html {
  margin: 0px;
}
#wishlist,
#cart {
  font-size: 22px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px;
  color: #37474f;
}
.icons > a {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  padding: 0px;
}
.navClass {
  background-color: #bdbdbd;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
  height: 2%;
  width: 100%;
}
.navTabs {
  list-style: none;
  padding-left: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.navTabs > li {
  display: inline-block;
  margin-right: 0px;
  padding-top: 12px;
  text-align: center;
  padding-bottom: 12px;
}
@media screen and (min-width: 460px) {
  .navTabs > li {
    width: 24%;
  }
}
@media screen and (max-width: 460px) {
  .navTabs > li {
    display: block;
  }
}
.navTabs > li:hover {
  background-color: #8d8d8d;
  color: #efefef;
  cursor: pointer;
}
.drop-electronics,
.drop-fashion,
.drop-watch,
.drop-sports {
  list-style-type: none;
  position: absolute;
  background-color: #757575;
  color: #e0e0e0;
  width: 23.8%;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 12px;
  display: none;
}
.drop-electronics > li,
.drop-fashion > li,
.drop-watch > li,
.drop-sprots > li {
  text-align: left;
  padding-left: 20%;
  margin-top: 5px;
}
.drop-electronics > li:hover,
.drop-fashion > li:hover,
.drop-watch > li:hover,
.drop-sports > li:hover {
  color: #efefef;
  cursor: pointer;
}
.electronics:hover .drop-electronics,
.fashion:hover .drop-fashion,
.watch:hover .drop-watch,
.sports:hover .drop-sports {
  display: block;
}
#mobile:hover,
#camera:hover,
#laptop:hover,
#headphone:hover,
#television:hover,
#men:hover,
#women:hover,
#men-watch:hover,
#women-watch:hover,
#smartwatch:hover #cricket:hover,
#football:hover,
#racquet:hover,
#accessories:hover {
  color: #212121;
}
