#wishlist,
#cart {
  font-size: 22px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px;
  color: #37474f;
}
.icons > a {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  padding: 0px;
}
